---
layout: default
---
<article class="post">
<div class="box">
    <div class="">
        <h2 class="title">لیست مقالات</h2>
    </div>

    <div class="box_section">
        {% for post in site.posts %}
        <div class="box_section-item" itemscope itemtype="http://schema.org/Product" data-course-id="53" id="course_53">
            <div class="item_img">
                <a href="{{ post.url | relative_url }}" title="{{ post.title | escape }}" >
                    {% if post.thumbnail %}
                    <img src="/images/original/{{post.thumbnail}}" alt="{{post.title}}" />
                    {% endif %}
                </a>
                <span class="box-status">دسته: php</span>
            </div>
            <div class="item_content">
                <h6 class="title">
                    <a itemprop="url" href="{{ post.url | relative_url }}" title="{{ post.title | escape }}" role="link"><span itemprop="name">{{ post.title | escape }}</span> </a>
                </h6>
                <p class="description" itemprop="description">
                    {{ post.content | strip_html | escape | truncatewords: 30 }}
                </p>
            </div>
            <div class="item_footer">
                <span class="course_time">{{ post.jdate }} <i class="fa fa-clock-o" aria-hidden="true"></i></span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</article>

{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <em>{{ page }}</em>
    {% elsif page == 1 %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
</div>
{% endif %}