---
layout: default
typepage: document
---
<div class="rcdoccontainerimg">
    {% include headerpost.html %}
</div>
<div class="doc-container">

    <div class="doc-menu">
        {% if page.menu == true %}
        {% include  {{ page.directory }}/menu.html %}
        {% else %}
        <ul>
            <li>
                <a  href="{{ page.caturl | relative_url }}" class="active doc-link" role="link">
                    مقدمه
                </a>
            </li>
            {% for item in site.documentation %}
            {% if item.caturl == page.caturl %}
            <li>
                <a title="{{ item.title }}" href="{{ item.url | relative_url }}" class="active doc-link" role="link">
                    {{ item.title }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <article class="documentation">
        <header class="doc-header">
            <div class="time">
                تاریخ :      {{ page.jdate}}
            </div>
            {% if page.author %}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
            {% endif %}
        </header>
        <section class="anchored">
            {{ content }}
        </section>
        {% include refrence.html %}
        <hr>
        {% include comments.html %}
    </article>
</div>
{% include deeplink.html %}
{% include doc-scroll.html %}