---
layout: default
---
<article class="home" role="article">
    <section class="landing" role="document">
        <div class="titlesection">
        <h1 class="title" role="presentation">مجموعه مقالات و مطالب آموزشی وب</h1>
        <p class="subtitle">معرفی تکنولوژی ها و متدهای برتر برنامه نویسی در وب</p>
        <a class="start-button" href="{{ '/blog/' | relative_url }}" role="link">ادامه</a>
        </div>
    </section>
    <section class="description" role="document">
        <h2 role="presentation">مجموعه مقالات و مطالب آموزشی وب</h2>
        <p>معرفی تکنولوژی ها و متدهای برتر برنامه نویسی در وب
        </p>
    </section>

</article>